/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 0px dotted black;
}

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
}

#play, 
#pause, 
#reverse {
  outline: 1px dashed red;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  width: 600;
  height: 300;
}